body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    font-family: 'Lora', serif;
    font-style: italic;
}
.menu {
    font-family: 'Courier New', monospace;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    display: none; 
}
.menu ul.active {
    display: block; 
}
.menu ul li {
    margin: 5px 0;
}
.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
#about, #profile, #achievements {
    padding: 20px;
}
.center {
    text-align: center;
}
.fade-in {
    animation: fadeIn 2s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hidden-score {
    display: none;
}
.score-wrapper:hover .hidden-score,
.score-wrapper:active .hidden-score {
    display: inline; 
}

.hidden-score {
    font-weight: bold;
    color: #d9534f;
}
