body {
  font-family: Arial, sans-serif;
  background-image: url("AliOgOi/AliOgOi.github.io/to/seg.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
}


p {
  color: #333;
}

h2 {
  color: #ff0000;
}

a {
  text-decoration: none;
  color: #007bff;
}

div {
  margin-bottom: 20px;
}
